*{
    text-align: center;
}

html{
    min-height: 100%;
}

body{
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}